

<div class = "container" ng-controller ="hireMeController">
    <h1 id ="hireme">Hire Me!</h1>
<p>Are you looking for an enthusiastic and communicative developer?   
Shoot me off a line with some info about your project/s and timeframe and I'll let you know if we're a match!</p>
<hr>
<div class = "container">
<div class = "col-md-6 col-md-offset-3">
    <form name ="hireForm" action="https://formspree.io/jess.blokland@art-is-activism.com" method="post" enctype="text/plain" id="hiremeform" class ="centertext" novalidate>
         <div class="form-group centertext" ng-class="{'has-error': hireForm.firstname.$invalid && hireForm.firstname.$dirty, 'has-success': hireForm.firstname.$dirty && hireForm.firstname.$valid}">
                <label for="firstname">First Name*</label>
                 <div class= "alert alert-danger" ng-show = "hireForm.firstname.$invalid && hireForm.firstname.$dirty">Your first name is required</div>
                 <input type = "text" placeholder = "First Name" name ="firstname" id= "firstname" class ="form-control" ng-model ="firstname" required>
                        
        </div>
        <div class="form-group centertext" ng-class="{ 'has-error': hireForm.lastname.$invalid && hireForm.lastname.$dirty, 'has-success': hireForm.lastname.$dirty && hireForm.lastname.$valid }">
            <label for="lastname">Last Name*</label>
                 <input type = "text" placeholder = "Last Name" name ="lastname" id= "lastname" class ="form-control" ng-model ="lastname" required>
            <div class= "alert alert-danger" ng-show = "hireForm.lastname.$invalid && hireForm.lastname.$dirty">Your last name is required</div>     
         </div>
         <div class="form-group centertext">
            <label for="companyname">Company Name</label>
             <input type = "text" placeholder = "Company Name" name = "companyname" class ="form-control" id= "companyname" >
          </div>
          <div class="form-group centertext" ng-class="{ 'has-error': hireForm._replyto.$invalid && hireForm._replyto.$dirty,  'has-success': hireForm._replyto.$dirty && hireForm._replyto.$valid}">
             <label for="email">Email Address*</label>
             <input type = "email" placeholder = "Email" name = "_replyto" class ="form-control" id= "email" required ng-model="email">
             
             <div ng-show = "hireForm._replyto.$invalid && hireForm._replyto.$dirty" class="alert alert-danger">An email address is required.</div>
            
        </div>
        <div class="form-group centertext">
            <label for="phonenumber">Phone Number</label>
             <input type = "text" placeholder = "Phone Number" class ="form-control" name = "phonenumber" id= "phonenumber">
        </div>
 
        <div class="form-group centertext" ng-class="{ 'has-error': hireForm.projecttext.$invalid && hireForm.projecttext.$dirty, 'has-success': hireForm.projecttext.$dirty && hireForm.projecttext.$valid}">
             <label for="projectTextarea">My Project*</label>
             <div class= "alert alert-danger" ng-show = "hireForm.projecttext.$invalid && hireForm.projecttext.$dirty">A short project desription is required</div>
             <textarea rows = 6 cols = 80 name = "projecttext" id = "projectTextarea" placeholder = "Describe your project here.  What needs to be done, which languages, when should it be ready?" class ="form-control" ng-model="projecttext"  required> </textarea>
         </div>
 

 
 
 <button type = "submit" value = "Send" class = "btn btn-warning centertext">Submit</button>
 </form>
</div>
</div>


</div><!--End Container--!>
